@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
 * Smooth scrolling inside an element
 */
  #farmersMarketMenu {
    scroll-behavior: smooth;
  }
  .max-h-0 {
    max-height: 0;
  }
  @screen md {
    .desktop-cols {
      columns: 2;
      column-gap: 40px;
    }
  }
  [x-cloak] {
    display: none;
  }

  /**
 * Smooth scrolling on the whole document
 */
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
}

@layer utilities {
}
